$site-color-white: #fff;
$site-color-black: #303030;
$site-color-gray: #9D9D9D;
$site-color-lightgray: #DCDCDC;

$background-color: #DCDCDC;

$button-color-white: #f5eded;
$button-color-black: #2f2e2e;

$button-hover-color-black: #575656;

