<div>
    <input type="hidden" ng-model="customer.id"
           value="{{customer.id}}" />
    <div class="form-group">
        <div>
            <label class="control-label" for="firstName">Ape. Paterno:</label>
            <input class="form-control" type="text" ng-model="customer.firstName"
                   value="{{customer.firstName}}" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label" for="lastName">Ape. Materno:</label>
            <input class="form-control" type="text" ng-model="customer.lastName"
                   value="{{customer.lastName}}"/>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label" for="city">Ciudad:</label>
            <input class="form-control" type="text" ng-model="customer.city"
                   value="{{customer.city}}" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label" for="country">Pais:</label>
            <input class="form-control" type="text" ng-model="customer.country"
                   value="{{customer.country}}" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label" for="phone">Teléfono:</label>
            <input class="form-control" type="text" ng-model="customer.phone"
                   value="{{customer.phone}}" />
        </div>
    </div>

</div>
